
body{
  
}
div{
    display: flex;
    flex-wrap: wrap; /*Cards will go to a new line if needed*/
    justify-content: space-between; /*Cards will be spaced evenly*/
}


img {
    width: 100%;
    max-height: 80%;
    object-fit: contain;
}


    .recipe-card {
      flex-basis: calc(33.33% - 10px);
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 350px;
      height: 375px;
      align-items: stretch;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 #373e40;
      background-color: white;
      
      margin-top: 20px;
      margin-bottom: 10px; 
}

.recipe-card:hover{
  box-shadow: 0 4px 8px 0 #F5A937;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background-image: url("../images/farmdining.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 30px;
}

  /* Media query for smaller screens */
@media (max-width: 768px) {
    .recipe-card {
      flex-basis: 100%; /* Change to full width on smaller screens */
    }
  }


